:root {
    --pico-font-size: 100%;
}

@media only screen and (min-width: 768px) {
    :root {
        --pico-font-size: 110%;
    }
}

:where(:root),
article,
button,
input,
select,
textarea,
.card,
.border-anim {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    transition: color 0.2s ease-in-out;
}

em {
    color: var(--pico-secondary);
    font-style: normal;
    text-decoration: underline wavy var(--pico-accent2);
    text-underline-offset: 4px;
    font-weight: bold;
}

body {
    overscroll-behavior-y: contain;
}

[type="button"].outline {
    border: 2px solid var(--pico-form-element-border-color);
}

[type="button"].outline:hover {
    background-color: var(--pico-outline-bg-hover);
}

article,
.card {
    border: 2px solid var(--pico-border-color);
    margin-bottom: 0;
}

.card {
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
}

.container {
    max-width: 100%;
    padding-inline: var(--pico-spacing);
}

.toggle-sun {
    display: var(--pico-display-sun);
}

.toggle-moon {
    display: var(--pico-display-moon);
}

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-ok: #00c482;
    --pico-ok-bg: #00724a;
    --pico-ok-hover: #008e5c;
    --pico-accent2: #c89c0c;
    --pico-accent3: #00a6f4;
    --pico-error: #c72240;
    --pico-error-bg: #c72240;
    --pico-error-hover: #e2004b;
    --pico-border-color: #e2e5e8;
    --pico-border-color-aux: #e2e5e8;
    --pico-outline-bg-hover: #e2e5e825;
    --pico-display-moon: none;
    --pico-display-sun: flex;
    --pico-font-family-sans-serif: inherit;
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-ok: #00c482;
        --pico-ok-bg: #00724a;
        --pico-ok-hover: #008e5c;
        --pico-accent2: #e2b930;
        --pico-accent3: #00a6f4;
        --pico-error: #f40957;
        --pico-error-bg: #e2004bc0;
        --pico-error-hover: #e2004b;
        --pico-border-color: #2a3140;
        --pico-border-color-aux: #2a3140;
        --pico-outline-bg-hover: var(--pico-background-color);
        --pico-display-moon: flex;
        --pico-display-sun: none;
        --pico-font-family-sans-serif: inherit;
    }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
    --pico-ok: #00c482;
    --pico-ok-bg: #00724a;
    --pico-ok-hover: #008e5c;
    --pico-accent2: #e2b930;
    --pico-accent3: #00a6f4;
    --pico-error: #f40957;
    --pico-error-bg: #e2004bc0;
    --pico-error-hover: #e2004b;
    --pico-border-color: #2a3140;
    --pico-border-color-aux: #2a3140;
    --pico-outline-bg-hover: var(--pico-background-color);
    --pico-display-moon: flex;
    --pico-display-sun: none;
    --pico-font-family-sans-serif: inherit;
}